# Heroes of Pymoli Data Analysis

In [1]:
# Dependencies
import pandas as pd

In [2]:
# Read JSON
path_to_jason = 'Desktop/pandas-challenge/HeroesOfPymoli/purchase_data.json'
hop_data      = pd.read_json(path_to_jason)
hop_data.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

## Player Count

In [3]:
# Total Number of Players
player_count = hop_data['SN'].value_counts().count()
player_count = pd.DataFrame(data=[{'Total Players': player_count}])
player_count

   Total Players
0            573

## Purchasing Analysis (Total)

In [4]:
# Number of Unique Items
unique_count = hop_data['Item Name'].value_counts().count()
# Number of Purchases
purchase_count = hop_data['Price'].count()
# Average Purchase Price
price_average = hop_data['Price'].mean()
price_average = f"${round(price_average, 2)}"
# Total Revenue
revneue_total = hop_data['Price'].sum()
revneue_total = f"${round(revneue_total, 2)}"

purchase_analysis = pd.DataFrame(data=[{'Number of Unique Items': unique_count,
                                        'Number of Purchases':    purchase_count,
                                        'Average Purchase Price': price_average,
                                        'Total Revenue':          revneue_total}])
purchase_analysis

,Average Purchase Price,Number of Purchases,Number of Unique Items,Total Revenue
0,$2.93,780,179,$2286.33

## Gender Demographics

In [5]:
# Count, Total, and List
gender_count    = hop_data['Gender'].value_counts()
gender_total    = gender_count.sum()
gender_category = set(hop_data['Gender'])
# Count of Players
gender_count = {gender: gender_count[gender] for gender in gender_category}
# Percentage of Players
gender_percentages  = {gender: f"{round((count / gender_total) * 100, 2)}%" for gender, count in gender_count.items()}

gender_data = {'Total Count': gender_count,
               'Percentage':  gender_percentages}

gender_demographics = pd.DataFrame(gender_data)
gender_demographics

                      Percentage  Total Count
Female                    17.44%          136
Male                      81.15%          633
Other / Non-Disclosed      1.41%           11

## Purchasing Analysis (Gender)

In [6]:
# The below each broken by gender
gp_data = hop_data.groupby('Gender')
gp_data = {key: value['Price'] for key, value in gp_data}
# Purchase Count
purchase_count = {gender: gp_data[gender].count() for gender in gender_category} # gender_category - from Gender Demographics
# Total Purchase Value
purchase_total           = {gender: gp_data[gender].sum() for gender in gender_category}
formatted_purchase_total = {gender: f"${round(total, 2)}" for gender, total in purchase_total.items()}
# Average Purchase Price
purchase_average = {gender: f"${round(total / purchase_count[gender],2)}" for gender, total in purchase_total.items()}
# Normalized Totals

gp_data = {'Purchase Count': purchase_count,
           'Average Purchase Price': purchase_average,
           'Total Purchase Value': formatted_purchase_total}

purchase_analysis = pd.DataFrame(gp_data)
purchase_analysis

,Average Purchase Price,Purchase Count,Total Purchase Value
Female,$2.82,136,$382.91
Male,$2.95,633,$1867.68
Other / Non-Disclosed,$3.25,11,$35.74

## Age Demographics

In [77]:
# The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
age_category = set(hop_data['Age'])
age_data     = hop_data.groupby('Age')
age_data     = {key: value['Price'] for key, value in age_data}
# Purchase Count
purchase_count = {age: age_data[age].count() for age in age_category}
# Total Purchase Value
purchase_total           = {age: age_data[age].sum() for age in age_category}
formatted_purchase_total = {age: f"${round(total, 2)}" for age, total in purchase_total.items()}
# Average Purchase Price
purchase_average = {age: total / purchase_count[age] for age, total in purchase_total.items()}
formatted_purchase_average = {age: f"${round(total / purchase_count[age],2)}" for age, total in purchase_total.items()}
# Normalized Totals

age_data = {'Purchase Count':         purchase_count,
            'Average Purchase Price': formatted_purchase_average,
            'Total Purchase Value':   formatted_purchase_total}

purchase_analysis = pd.DataFrame(age_data)
purchase_analysis.head() # bin age

   Average Purchase Price  Purchase Count Total Purchase Value
7                   $2.92              19               $55.47
8                   $1.96               3                $5.87
9                   $3.69               6               $22.12
10                  $3.29               4               $13.16
11                  $2.97               9               $26.76

## Top Spenders

In [76]:
# Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
sn_category = set(hop_data['SN'])
sn_data     = hop_data.groupby('SN')
sn_data     = {key: value['Price'] for key, value in sn_data}
# Purchase Count
purchase_count = {sn: sn_data[sn].count() for sn in sn_category}
# Total Purchase Value
purchase_total           = {sn: sn_data[sn].sum() for sn in sn_category}
formatted_purchase_total = {sn: f"${round(total, 2)}" for sn, total in purchase_total.items()}
# Average Purchase Price
purchase_average           = {sn: total / purchase_count[sn] for sn, total in purchase_total.items()}
formatted_purchase_average = {sn: f"${round(total / purchase_count[sn],2)}" for sn, total in purchase_total.items()}

sn_data = {'Purchase Count':         purchase_count,
           'Average Purchase Price': formatted_purchase_average,
           'Total Purchase Value':   purchase_total} # format into currency

purchase_analysis = pd.DataFrame(sn_data)
purchase_analysis = purchase_analysis.sort_values('Total Purchase Value', ascending=False).head(5)
purchase_analysis

            Average Purchase Price  Purchase Count  Total Purchase Value
Undirrala66                  $3.41               5                 17.06
Saedue76                     $3.39               4                 13.56
Mindimnya67                  $3.18               4                 12.74
Haellysu29                   $4.24               3                 12.73
Eoda93                       $3.86               3                 11.58

## Most Popular Items

In [10]:
# Identify the 5 most popular items by purchase count, then list (in a table):
item_category = set(hop_data['Item Name'])
item_data     = hop_data.groupby('Item Name')
item_data     = {key: value['Price'] for key, value in item_data}
# Purchase Count
purchase_count = {item: item_data[item].count() for item in item_category}
# Total Purchase Value
purchase_total           = {item: item_data[item].sum() for item in item_category}
formatted_purchase_total = {item: f"${round(total, 2)}" for item, total in purchase_total.items()}
# Average Purchase Price
purchase_average           = {item: total / purchase_count[item] for item, total in purchase_total.items()}
formatted_purchase_average = {item: f"${round(total / purchase_count[item],2)}" for item, total in purchase_total.items()}

item_data = {'Purchase Count':         purchase_count,
             'Average Purchase Price': formatted_purchase_average,
             'Total Purchase Value':   purchase_total} # format into currency

purchase_analysis = pd.DataFrame(item_data)
purchase_analysis = purchase_analysis.sort_values('Total Purchase Value', ascending=False).head(5)
purchase_analysis

,Average Purchase Price,Purchase Count,Total Purchase Value
Final Critic,$2.76,14,38.60
Retribution Axe,$4.14,9,37.26
Stormcaller,$3.46,10,34.65
Spectral Diamond Doomblade,$4.25,7,29.75
Orenmir,$4.95,6,29.70