# Heroes of Pymoli Data Analysis

In [27]:
# Dependencies
import pandas as pd
import numpy as np

# Declare
currency   = '${0:.2f}'

# Read JSON
path_to_jason = 'Desktop/pandas-challenge/HeroesOfPymoli/purchase_data.json'
hop_data      = pd.read_json(path_to_jason)
hop_data.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

## Player Count

In [28]:
# Total Number of Players
player_count = hop_data['SN'].value_counts().count()
player_count = pd.DataFrame(data=[{'Total Players': player_count}]).style.format({'Total Players': '{:}'})
player_count

## Purchasing Analysis (Total)

In [30]:
unique  = len(set(hop_data['Item Name']))
count   = hop_data['Price'].count()
average = hop_data['Price'].mean()
total   = hop_data['Price'].sum()

player_data = [{'Number of Unique Items': unique,
                'Number of Purchases':    count,
                'Average Purchase Price': average,
                'Total Revenue':          total}]

purchase_analysis = pd.DataFrame(player_data).style.format({'Average Purchase Price': currency, 'Total Revenue': currency})
purchase_analysis

## Gender Demographics

In [31]:
count      = hop_data.groupby('Gender').count()
total      = hop_data['Gender'].count()
percentage = count / total

g_data = {'Percentage':    percentage['SN'],
          'Total Players': count['SN']}

purchase_analysis = pd.DataFrame(g_data).style.format({'Percentage': '{:.2%}'})
purchase_analysis

## Purchasing Analysis (Gender)

In [32]:
# The below each broken by gender
count   = hop_data.groupby('Gender').count()
average = hop_data.groupby('Gender').mean()
total   = hop_data.groupby('Gender').sum()

gp_data = {'Purchase Count':         count['Price'],
           'Average Purchase Price': average['Price'],
           'Total Purchase Value':   total['Price']} 

purchase_analysis = pd.DataFrame(gp_data).style.format({'Average Purchase Price': currency, 'Total Purchase Value': currency})
purchase_analysis

## Age Demographics

In [107]:
# The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
labels = [f"{count}-{count + 4}" for count in np.arange(5, 45, 5)]
count   = hop_data.groupby(pd.cut(hop_data['Age'], np.arange(5, 50, 5), labels=labels)).count()
average = hop_data.groupby(pd.cut(hop_data['Age'], np.arange(5, 50, 5), labels=labels)).mean()
total   = hop_data.groupby(pd.cut(hop_data['Age'], np.arange(5, 50, 5), labels=labels)).sum()

age_data = {'Purchase Count':         count['Price'],
            'Average Purchase Price': average['Price'],
            'Total Purchase Value':   total['Price']} 

purchase_analysis = pd.DataFrame(age_data).rename(index={'5-9': '<10', '40-44': '40+'}).style.format({'Average Purchase Price': currency, 'Total Purchase Value': currency})
purchase_analysis

## Top Spenders

In [34]:
# Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
count   = hop_data.groupby('SN').count()
average = hop_data.groupby('SN').mean()
total   = hop_data.groupby('SN').sum()

sn_data = {'Purchase Count':         count['Price'],
           'Average Purchase Price': average['Price'],
           'Total Purchase Value':   total['Price']}

purchase_analysis = pd.DataFrame(sn_data).sort_values('Total Purchase Value', ascending=False).head(5).style.format({'Average Purchase Price': currency, 'Total Purchase Value': currency})
purchase_analysis

## Most Popular Items

In [35]:
# Identify the 5 most popular items by purchase count, then list (in a table):
count    = hop_data.groupby(['Item ID', 'Item Name']).count()
average  = hop_data.groupby(['Item ID', 'Item Name']).mean()
total    = hop_data.groupby(['Item ID', 'Item Name']).sum()

item_data = {'Purchase Count':         count['Price'],
             'Average Purchase Price': average['Price'],
             'Total Purchase Value':   total['Price']} # format into currency

purchase_analysis = pd.DataFrame(item_data).sort_values('Purchase Count', ascending=False).head(5).style.format({'Average Purchase Price': currency, 'Total Purchase Value': currency})
purchase_analysis

## Most Profitable Items

In [36]:
# Identify the 5 most profitable items by total purchase value, then list (in a table):
purchase_analysis = pd.DataFrame(item_data).sort_values('Total Purchase Value', ascending=False).head(5).style.format({'Average Purchase Price': currency, 'Total Purchase Value': currency})
purchase_analysis