# Heroes of Pymoli Data Analysis

In [1]:
# Dependencies
import pandas as pd
import numpy as np

# Declare
currency = '${:.8}'

# Read JSON
path_to_jason = 'Desktop/pandas-challenge/HeroesOfPymoli/purchase_data.json'
hop_data      = pd.read_json(path_to_jason)
hop_data.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

## Player Count

In [2]:
# Total Number of Players
player_count = hop_data['SN'].value_counts().count()
player_count = pd.DataFrame(data=[{'Total Players': player_count}])
player_count

   Total Players
0            573

## Purchasing Analysis (Total)

In [3]:
# Number of Unique Items
unique_count = hop_data['Item Name'].value_counts().count()
# Number of Purchases
purchase_count = hop_data['Price'].count()
# Average Purchase Price
price_average = hop_data['Price'].mean()
# Total Revenue
revneue_total = hop_data['Price'].sum()

player_data = [{'Number of Unique Items': unique_count,
                'Number of Purchases':    purchase_count,
                'Average Purchase Price': price_average,
                'Total Revenue':          revneue_total}]

purchase_analysis = pd.DataFrame(player_data)
purchase_analysis

,Average Purchase Price,Number of Purchases,Number of Unique Items,Total Revenue
0,2.931192,780,179,2286.33

## Gender Demographics

In [4]:
# Count, Total, and List
gender_count    = hop_data['Gender'].value_counts()
gender_total    = gender_count.sum()
gp_category = {gender: gender for gender in set(hop_data['Gender'])}
# Count of Players
gender_count = {gender: gender_count[gender] for gender in gp_category}
# Percentage of Players
gender_percentages  = {gender: f"{round((count / gender_total) * 100, 2)}%" for gender, count in gender_count.items()}

gender_data = {'Gender':      gp_category,
               'Total Count': gender_count,
               'Percentage':  gender_percentages}

gender_demographics = pd.DataFrame(gender_data).set_index('Gender')
gender_demographics

                      Percentage  Total Count
Gender
Female                    17.44%          136
Male                      81.15%          633
Other / Non-Disclosed      1.41%           11

## Purchasing Analysis (Gender)

In [5]:
# The below each broken by gender
count   = hop_data.groupby('Gender').count()
average = hop_data.groupby('Gender').mean()
total   = hop_data.groupby('Gender').sum()

gp_data = {'Purchase Count':         count['Price'],
           'Average Purchase Price': average['Price'],
           'Total Purchase Value':   total['Price']} 

purchase_analysis = pd.DataFrame(gp_data).style.format({'Average Purchase Price': currency, 'Total Purchase Value': currency})
purchase_analysis

## Age Demographics

In [6]:
# The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
count   = hop_data.groupby(pd.cut(hop_data['Age'], np.arange(4, 50, 4))).count()
average = hop_data.groupby(pd.cut(hop_data['Age'], np.arange(4, 50, 4))).mean()
total   = hop_data.groupby(pd.cut(hop_data['Age'], np.arange(4, 50, 4))).sum()

age_data = {'Purchase Count':         count['Price'],
            'Average Purchase Price': average['Price'],
            'Total Purchase Value':   total['Price']} 

purchase_analysis = pd.DataFrame(age_data).style.format({'Average Purchase Price': currency, 'Total Purchase Value': currency})
purchase_analysis

## Top Spenders

In [7]:
# Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
count   = hop_data.groupby('SN').count()
average = hop_data.groupby('SN').mean()
total   = hop_data.groupby('SN').sum()

sn_data = {'Purchase Count':         count['Price'],
           'Average Purchase Price': average['Price'],
           'Total Purchase Value':   total['Price']}

purchase_analysis = pd.DataFrame(sn_data).sort_values('Total Purchase Value', ascending=False).head(5).style.format({'Average Purchase Price': currency, 'Total Purchase Value': currency})
purchase_analysis

## Most Popular Items

In [8]:
# Identify the 5 most popular items by purchase count, then list (in a table):
count    = hop_data.groupby(['Item ID', 'Item Name']).count()
average  = hop_data.groupby(['Item ID', 'Item Name']).mean()
total    = hop_data.groupby(['Item ID', 'Item Name']).sum()

item_data = {'Purchase Count':         count['Price'],
             'Average Purchase Price': average['Price'],
             'Total Purchase Value':   total['Price']} # format into currency

purchase_analysis = pd.DataFrame(item_data).sort_values('Purchase Count', ascending=False).head(5).style.format({'Average Purchase Price': currency, 'Total Purchase Value': currency})
purchase_analysis

## Most Profitable Items

In [9]:
# Identify the 5 most profitable items by total purchase value, then list (in a table):
purchase_analysis = pd.DataFrame(item_data).sort_values('Total Purchase Value', ascending=False).head(5).style.format({'Average Purchase Price': currency, 'Total Purchase Value': currency})
purchase_analysis