# Heroes of Pymoli Data Analysis

In [1]:
# Dependencies
import pandas as pd

In [2]:
# Read JSON
path_to_jason = 'Desktop/pandas-challenge/HeroesOfPymoli/purchase_data.json'
hop_data      = pd.read_json(path_to_jason)
hop_data.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

## Player Count

In [3]:
# Total Number of Players
player_count = hop_data['SN'].value_counts().count()
player_count = pd.DataFrame(data=[{'Total Players': player_count}])
player_count

   Total Players
0            573

## Purchasing Analysis (Total)

In [4]:
# Number of Unique Items
unique_count      = hop_data['Item Name'].value_counts().count()
# Number of Purchases
purchase_count    = hop_data['Price'].count()
# Average Purchase Price
price_average     = hop_data['Price'].mean()
price_average     = f"${round(price_average, 2)}"
# Total Revenue
revneue_total     = hop_data['Price'].sum()
revneue_total     = f"${round(revneue_total, 2)}"

purchase_analysis = pd.DataFrame(data=[{'Number of Unique Items': unique_count,
                                        'Number of Purchases':    purchase_count,
                                        'Average Purchase Price': price_average,
                                        'Total Revenue':          revneue_total}])
purchase_analysis

,Average Purchase Price,Number of Purchases,Number of Unique Items,Total Revenue
0,$2.93,780,179,$2286.33

## Gender Demographics

In [5]:
# Count, Total, and List
gender_count        = hop_data['Gender'].value_counts()
gender_total        = gender_count.sum()
gender_category     = set(hop_data['Gender'])
# Count of Players
gender_count        = {gender: gender_count[gender] for gender in gender_category}
# Percentage of Players
gender_percentages  = {gender: f"{round((count / gender_total) * 100, 2)}%" for gender, count in gender_count.items()}

gender_data         = {'Total Count': gender_count,
                       'Percentage':  gender_percentages}

gender_demographics = pd.DataFrame(gender_data)
gender_demographics

                      Percentage  Total Count
Female                    17.44%          136
Male                      81.15%          633
Other / Non-Disclosed      1.41%           11